<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger : %msg%n
      </Pattern>
    </layout>
  </appender>

  <logger name="com.ssm" level="DEBUG"/>
  <logger name="javax.activation" level="WARN"/>
  <logger name="javax.mail" level="WARN"/>
  <logger name="javax.xml.bind" level="WARN"/>
  <logger name="ch.qos.logback" level="WARN"/>
  <logger name="com.sun" level="WARN"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="org.apache.cxf" level="WARN"/>
  <logger name="org.springframework" level="WARN"/>
  <logger name="org.springframework.web" level="WARN"/>
  <logger name="org.springframework.cache" level="WARN"/>
  <logger name="org.hibernate.validator" level="WARN"/>
  <logger name="springfox.documentation" level="WARN"/>
  <logger name="org.thymeleaf" level="WARN"/>
  <logger name="sun.rmi.transport" level="WARN"/>

  <logger name="com.ibatis" level="DEBUG"/>
  <logger name="com.ibatis.common.jdbc.SimpleDataSource" level="DEBUG"/>
  <logger name="com.ibatis.common.jdbc.ScriptRunner" level="DEBUG"/>
  <logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate" level="DEBUG"/>
  <logger name="java.sql.Connection" level="DEBUG"/>
  <logger name="java.sql.Statement" level="DEBUG"/>
  <logger name="java.sql.PreparedStatement" level="DEBUG"/>

  <!-- shutdownHook -->
  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <root level="DEBUG">
    <appender-ref ref="STDOUT"/>
    <!--<appender-ref ref="FILE"/>-->
  </root>

</configuration>
